body {
	display: flex;
	flex-direction: row-reverse;
}

#toggleControls {
	position: fixed;

	z-index: 90;

	margin: 4px;
	padding: 4px;

	background-color: lightseagreen;
	border: 3px ridge gray;
}

#controls {
	position: fixed;
	display: flex;
	flex-direction: column;

	overflow-y: scroll;
	height: 100vh;

	background-color: rgba(255,255,255,0.7);
	border-left: 3px ridge lightslategray;
	border-right: 3px ridge lightslategray;
}

#controls > h3 {
	margin: 0;
}

#controls > div {
	display: flex;
	flex-direction: column;

	gap: 4px;

	margin: 8px;
	padding: 8px;

	border: 1px solid black;
}
